html {
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #1F2937;
}

header, .signup-container, .info-container, .signup-container, .quote-container {
    padding: 0 300px;
}

h2, p {
    margin: 0;
    padding: 0;
}


#logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-image-container {
    display: flex;
    align-items: center;
    color: #f9faf8;
    gap: 10px;
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar-container {
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.placeholder-image {
    background: darkgrey;
    width: 800px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.hero-main-text {
    font-size: 48px;
    color: f9faf8;
    font-weight: 900;
}

.hero-para {
    font-size: 18px;
    color: e5e7eb;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    padding-top: 20px;
    gap: 20px;  
}

.cards-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding: 0px 50px 50px 50px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    gap: 5px;
}

.border-square {
    border-radius: 15px;
    border: solid #3882F6;
    width: 120px;
    height: 120px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #e5e7eb;
    padding: 50px 300px; 
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.author {
    font-size: 28px;
    color: #1f2937;
    font-weight: 900;
    align-self: flex-end;
}

.signup-container {
    display: flex;
    background-color: #3882f6; 
    margin: 50px 300px;
    padding: 24px 90px;
    border-radius: 5px; 
    color: white;  
}

.call-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 18px;
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
}
